.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &_icon {
        width: 36px;
        height: 36px;
        border: none;
        background-color: #fff;
        cursor: pointer;

        &:hover {
            i {
                color: rgb(238, 77, 45);
                transition: all 0.3s ease-in-out;
            }
        }
    }

    i {
        color: rgba(0, 0, 0, 0.4);
    }

    &_li {
        list-style: none;
        margin: 0 5px;
    }

    &_button {
        color: rgba(0, 0, 0, 0.4);
        background-color: #fff;
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 50%;
        font-size: 16px;

        &:hover:not(.active) {
            background-color: #ddd;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    &_active {
        display: none;
    }
}

.active {
    background-color: rgb(238, 77, 45) !important;
    color: #fff !important;
}
