::-moz-placeholder {
  color: rgb(144, 149, 171);
}

::placeholder {
  color: rgb(144, 149, 171);
}

th {
  color: rgb(52, 71, 103);
}

.breadcrumbs {
  display: flex;
}
.breadcrumbs p {
  color: rgba(102, 102, 102, 0.7);
  font-size: 18px;
}
.breadcrumbs span {
  font-size: 18px;
  font-weight: bolder;
  color: rgb(52, 71, 103);
}

.Link {
  text-decoration: none;
  color: rgba(102, 102, 102, 0.7);
}
.Link:hover {
  color: #eb1336;
}

.divider {
  margin: 0 6px;
  color: rgba(102, 102, 102, 0.7);
  font-weight: 500 !important;
}

.listProduct {
  width: 80%;
  padding: 24px;
  overflow: hidden;
  overflow-y: scroll;
}
.listProduct_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 16px;
}
.listProduct_header__search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listProduct_header__xmark {
  position: absolute;
  right: 12px;
  color: rgb(123, 128, 154);
  cursor: pointer;
}
.listProduct_header__xmark:hover {
  transition: all 0.3s linear;
  color: #555;
}
.listProduct_header input {
  border: 1px solid #d3d3d3;
  padding: 12px;
  outline: none;
  border-radius: 6px;
  background: none transparent;
}
.listProduct_header input:focus {
  border: 1px solid #6a5a9f;
}
.listProduct_PD {
  padding: 30px;
  padding-top: 0;
  background-color: #fff;
  border-radius: 10px;
}
.listProduct h1 {
  font-size: 24px;
  color: rgb(52, 71, 103);
}
.listProduct p {
  padding: 0 10px;
}
.listProduct_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listProduct_add {
  display: flex;
  align-items: center;
  margin: 20px 0;
  text-decoration: none;
  color: #fff;
  background-color: #ee4d2d;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}
.listProduct_add:hover {
  transition: all 0.3s linear;
  background-color: #c52432;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}
.table_button {
  border: none;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #e2e3e5;
}

.modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 200px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 20px;
  z-index: 4;
}
.modal_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.modal_header h5 {
  font-size: 24px;
}
.modal_close {
  border: none;
  background-color: #fff;
}
.modal_close span {
  font-size: 24px;
  color: #6c757d;
}
.modal_close span:hover {
  cursor: pointer;
  color: #000;
}
.modal_body {
  padding: 20px;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}
.modal_footer {
  padding: 20px;
  text-align: right;
}
.modal_footer button {
  padding: 10px 12px;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.modal_btnClose {
  background-color: #6c757d;
  margin-right: 10px;
}
.modal_btnClose:hover {
  background-color: #5a6268;
}
.modal_btnSave {
  background-color: #ee4d2d;
}
.modal_btnSave:hover {
  background-color: #c52432;
}/*# sourceMappingURL=ListProduct.module.css.map */